h1{color: rgb(255, 42, 42); background: rgb(22, 212, 22); font-size: 45px; text-align:center; border:4px solid whitesmoke}
body{background: black}
span{color:aliceblue}
b{text-align: center;}
h2{color:azure; font-size:32px; font-family:Georgia, 'Times New Roman', Times, serif}
ul{list-style-type:square; color:rgb(229, 156, 38); font-size: 25px}
h3{color:orangered; border: 2px solid gray; font-size:32px;text-align:center}
p{color:white; font-size:21px}
small{color:rgb(79, 198, 228)}